<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PATIENT'S LOGIN</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../templates css/style.css">
</head>

<body>
    <div class="top">
        <h1>NTD Detector</h1>
    </div>

    <nav class="navbar">
        <span class="navbar-text">PATIENT'S LOGIN</span>
    </nav>

    <div class="logout_bar">
        <a class="logout" href="https://www.google.com">Log Out</a>
    </div>

    <div class="container-fluid">
                <div class="sidebar-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="Dashboard.html">
                                <span data-feather="home"></span> Home <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'studprofile'  %}">
                                <span data-feather="user"></span> Profile
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./prediction_form.html">
                                <span data-feather="calendar"></span> Predict Symptoms
                            </a>
                        </li>
                    </ul>
                </div>
            
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h3>Reports</h3>
                </div>
                <div class="container">
                    <div class="card">
                        <div class="card-header">
                            <div class="row"></div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive"></div>
                        </div>
                    </div>
                </div>
            </main>
        
    </div>
</body>
</html>
