{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Predict</title>
    {% comment %} <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'dashboard.css' %}"> {% endcomment %}
</head>

<body>
    <table>
        <thead>
            <tr>
                <th>Disease Name</th>
                <th>Probability</th>
            </tr>
        </thead>
        <tbody>
            {% for disease_name, probability in context %}
            <tr>
                <td>{{ disease_name }}</td>
                <td>{{ probability }}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
    
    
    
</body>
</html>